---
import moment from 'moment';

const { post, path, loading, showHeading } = Astro.props;

const timeHumanreadable = moment.unix(post.time).format('YYYY-MM-DD HH:mm');

const images = (post.images || []).map(image => ({
  ...image,
  path: `/images/${image.file}.webp`
}));
---

<article>
  <header>
    <a href={path} title="Permalink">
      <time datetime={post.time}>{timeHumanreadable}</time>
    </a>
    <ul>
      {post.tags.map(tag => <li>{tag}</li>)}
    </ul>
  </header>

  {images.length > 0 &&
    <ul>
      {images.map(image => <li><img src={image.path} width={image.w} height={image.h} loading={loading} /></li>)}
    </ul>
  }

  <div class="blog-item-content">
    {post.title && showHeading &&
      <h1>{post.title}</h1>
    }
    <slot />
  </div>
</article>
