---
import moment from 'moment';

const { post, path, loading } = Astro.props;

// Make sure `path` does not have a trailing slash
const pathWithoutTrailingSlash = path.replace(/\/$/, '');

const location = `${post.area}, ${post.country}`
const timeHumanreadable = moment.unix(post.time).format('YYYY-MM-DD, HH:mm');

const images = (post.images || []).map(image => ({
  ...image,
  path: `/images${pathWithoutTrailingSlash}${image.ext}`
}));
---

<article>
  <header>
    <time datetime={post.time}>{timeHumanreadable}</time> &middot;
    <span>{location}</span> &middot;
    <a href={path} title="Permalink">#</a>
  </header>

  {images.length > 0 &&
    <ul>
      {images.map(image => <li><img src={image.path} width={image.w} height={image.h} loading={loading} /></li>)}
    </ul>
  }

  <div class="babble-content">
    <slot />
  </div>

  <footer>
    <ul>
      {post.tags.map(tag => <li>{tag}</li>)}
    </ul>
  </footer>
</article>
