---
import ConditionalLinkWrapper from './ConditionalLinkWrapper.astro';
import moment from 'moment';

const { post, path, loading, standalone } = Astro.props;

const timeMachineReadable = moment.unix(post.time).format();
const timeHumanReadable = moment.unix(post.time).format('MMMM DD, H:mm');

const images = (post.images || []).map(image => ({
  ...image,
  path: `/images/${image.file}.webp`
}));
---

<article class={post.title && standalone ? 'article' : false}>
  <header>
    {post.title && standalone &&
      <h1>{post.title}</h1>
    }
    <ConditionalLinkWrapper link={standalone ? '' : path} title="Permalink">
      <time datetime={timeMachineReadable}>
        {timeHumanReadable}
        {!standalone &&
          ' →'
        }
      </time>
    </ConditionalLinkWrapper>
  </header>

  {images.length > 0 &&
    <ul>
      {images.map(image => <li><img src={image.path} width={image.w} height={image.h} loading={loading} /></li>)}
    </ul>
  }

  <div class="blog-item-content">
    <slot />
  </div>
</article>
