<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>
    <% if (title) { %>
      <%= title %> |
    <% } %>
    <%= site.author %>
    <% if (is) { %>
      is <%= is %>
    <% } %>
  </title>

  <meta name="author" content="<%= site.author %>">
  <meta name="description" content="<%= site.description %>">

  <link rel="stylesheet" href="/assets/css/main.css">
  
  <% if (custom_css) { %>
  <link rel="stylesheet" href="/assets/css/<%= custom_css %>">
  <% } %>

  <link rel="shortcut icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiPiAgICAgICAgICA8dGl0bGU+U3RlcGhhbiBNYXg8L3RpdGxlPiAgICAgICAgICA8cGF0aCBkPSJNMTMzLjQwMiwzMzYuMjU1IGMwLDkuMDYyLTcuMzQ4LDE2LjQxLTE2LjQxLDE2LjQxcy0xNi40MS03LjM0OC0xNi40MS0xNi40MVYxNzUuNzQ1YzAtOS4wNjIsNy4zNDgtMTYuNDEsMTYuNDEtMTYuNDFzMTYuNDEsNy4zNDgsMTYuNDEsMTYuNDEgVjMzNi4yNTV6IE00MDMuMjEzLDM1MC40NjdsLTEzOS4wMDgsODAuMjU3Yy03Ljg0LDQuNTI4LTE3Ljg4MSwxLjg1LTIyLjQxNi02LjAwNmMtNC41MzItNy44NDktMS44NDItMTcuODg2LDYuMDA2LTIyLjQxNiBsMTM5LjAwOC04MC4yNTdjNy44NDktNC41MzIsMTcuODg2LTEuODQyLDIyLjQxNiw2LjAwNkM0MTMuNzUxLDMzNS45LDQxMS4wNjEsMzQ1LjkzNiw0MDMuMjEzLDM1MC40Njd6IE00MDkuMjE5LDE4My45NSBjLTQuNTMxLDcuODQ4LTE0LjU2NywxMC41MzgtMjIuNDE2LDYuMDA2bC0xMzkuMDA4LTgwLjI1N2MtNy44NDktNC41MzItMTAuNTM4LTE0LjU2OC02LjAwNi0yMi40MTYgYzQuNTMyLTcuODQ4LDE0LjU2Ny0xMC41MzgsMjIuNDE2LTYuMDA2bDEzOS4wMDgsODAuMjU3QzQxMS4wNjEsMTY2LjA2NCw0MTMuNzUxLDE3Ni4xLDQwOS4yMTksMTgzLjk1eiIvPiAgICAgICAgPC9zdmc+">
</head>

<body>
