<%- include('partials/top.ejs') %>

<%
  const {updated} = locals;
%>

<nav>
  <a href="/">Stephan Max</a>
</nav>

<article>
  <header>
    <h1><%= title %></h1>
    <time datetime="<%= updated ? updated.format('YYYY-MM-DD') : published.format('YYYY-MM-DD') %>">
      <%= published.format('LL') %>
      <% if (updated) { %>
        (updated <%= updated.format('LL') %>)
      <% } %>
    </time>
  </header>

  <%- contents %>
</article>

<%- include('partials/bottom.ejs') %>
