<%- include('partials/top.ejs') %>

<nav>
  <a href="/">Stephan Max</a>
</nav>

<article>
  <header>
    <h1><%= title %></h1>
    <time datetime="<%= modified ? updated.format('YYYY-MM-DD') : date.format('YYYY-MM-DD') %>">
      <%= date.format('LL') %>
      <% if (modified) { %>
      (updated <%= updated.format('LL') %>)
      <% } %>
    </time>
  </header>

  <%- contents %>
</article>

<%- include('partials/bottom.ejs') %>
