<%- include('partials/top.ejs') %>

<%
  const {updated} = locals;
%>

<nav>
  <a href="/">Stephan Max</a>
</nav>

<article>
  <header>
    <h1><%= title %></h1>
  </header>
  <div class="article-meta">
    <time datetime="<%= (updated || published).toISOString() %>">
      <%= published.toISOString().slice(0, 10) %>
      <% if (updated) { %>
        <span class="article-updated">(updated <%= updated.toISOString().slice(0, 10) %>)</span>
      <% } %>
    </time>
  </div>
  <div class="article-content">
    <%- contents %>
  </div>
</article>

<%- include('partials/bottom.ejs') %>
