<%- include('partials/top.ejs') %>

<%
  const {updated} = locals;
%>

<nav>
  <a href="/">Stephan Max</a>
</nav>

<article>
  <header>
    <h1><%= title %></h1>
    <time datetime="<%= (updated || published).toISOString() %>">
      <%= published.toISOString().slice(0, 10) %>
      <% if (updated) { %>
        (updated <%= updated.toISOString().slice(0, 10) %>)
      <% } %>
    </time>
  </header>

  <%- contents %>
</article>

<%- include('partials/bottom.ejs') %>
