<%- include('partials/top.ejs') %>

<article>
  <header>
    <h1><%= title %></h1>
    <span>
      <time datetime="<%= date.format('YYYY-MM-DD') %>"><%= date.format('LL') %></time>
      <%
        if (modified) {
      %>
      (updated <time datetime="<%= updated.format('YYYY-MM-DD') %>"><%= updated.format('LL') %></time>)
      <% } %>
    </span>
  </header>

  <%- contents %>
</article>

<%- include('partials/bottom.ejs') %>
