<%- include('partials/top.ejs') %>

<main>
  <header>
    <h1>Hi! I am <a href="/">Stephan Max</a>, a software engineer living in <del>Hamburg</del> <ins>Cologne</ins>. I am currently helping to push ad-blocking tech to the next level as an Automation Engineer at <a href="https://eyeo.com/">eyeo</a>. Here you will find my ramblings on everything else that interests me: open source &amp; data, coding literacy, creative coding, and video game history.</h1>
  </header>
  <section>
    <h2>Writing</h2>
    <ul>
      <% writing.forEach((article, index) => { %>
      <li>
        <%
          const articleLink = `${article.collection}/${article.slug}.html`;
          if (index === 0) { %>
        %>
        <h3>
          <a href="<%= articleLink %>"><%= article.title %></a>
        </h3>
        <% } else { %>
        <h4>
          <a href="<%= articleLink %>"><%= article.title %></a>
        </h4>
        <% } %>
        <time datetime="<%= article.date.format('YYYY-MM-DD') %>"><%= article.date.format('ll') %></time>
        <% if (index === 0) { %>
        <%- article.excerpt %>
        <p><a href="<%= articleLink %>">Read on</a>
        <% } %>
      </li>
      <% }) %>
    </ul>
  </section>
</main>

<%- include('partials/bottom.ejs') %>
