<%- include('partials/top.ejs') %>

<main>
  <header>
    <h1>Stephan Max</h1>
  </header>

  <p>I am a computer scientist working as an infrastructure and automation engineer at <a href="https://eyeo.com">eyeo</a> in Cologne, Germany.</p>

  <ul class="writing">
    <% writing.forEach((article, index) => { %>
    <li>
      <%
        const articleLink = `${article.collection}/${article.slug}.html`;
        if (index === 0) { %>
      %>
      <h2>
        <a href="<%= articleLink %>"><%= article.title %></a>
      </h2>
      <% } else { %>
      <h2>
        <a href="<%= articleLink %>"><%= article.title %></a>
      </h2>
      <% } %>
      <time datetime="<%= article.date.format('YYYY-MM-DD') %>"><%= article.date.format('LL') %></time>
      <% if (index === 0) { %>
      <%- article.excerpt %>
      <% } %>
    </li>
    <% }) %>
  </ul>
</main>

<%- include('partials/bottom.ejs') %>
