<%- include('partials/top.ejs') %>

<main>
  <header>
    <h1>Hi! I am <a href="/">Stephan Max</a>, a software engineer living in Cologne. I am helping to push ad tech to the next level as an automation engineer at <a href="https://eyeo.com/">eyeo</a>. Here you will find my ramblings on everything else that interests me: open source &amp; data, coding literacy, creative coding, and video game history.</h1>
    <address>
      <ul>
        <li><a rel="me" title="Email" href="mailto:hello@stephanmax.com"><svg viewBox="0 0 24 24"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></a></li>
        <li><a rel="pgpkey authn" title="PGP Key via Keybase" href="https://keybase.io/stephanmax/pgp_keys.asc?fingerprint=c39b112b14c13ff673a30963a1cd0f9a894601f3"><svg viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg></a></li>
        <li><a rel="me" title="Twitter" href="https://twitter.com/betterThanMin"><svg viewBox="0 0 24 24"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg></a></li>
        <li><a rel="me" title="GitHub" href="https://github.com/stephanmax"><svg viewBox="0 0 24 24"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg></a></li>
        <li><a title="RSS Feed" href="https://stephanmax.is/feeding"><svg viewBox="0 0 24 24"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a></li>
      </ul>
    </address>
  </header>
  <section>
    <h2>Writing</h2>
    <ul>
      <% writing.forEach((article, index) => { %>
      <li>
        <%
          const articleLink = `${article.collection}/${article.slug}.html`;
          if (index === 0) { %>
        %>
        <h3>
          <a href="<%= articleLink %>"><%= article.title %></a>
        </h3>
        <% } else { %>
        <h4>
          <a href="<%= articleLink %>"><%= article.title %></a>
        </h4>
        <% } %>
        <time datetime="<%= article.date.format('YYYY-MM-DD') %>"><%= article.date.format('ll') %></time>
        <% if (index === 0) { %>
        <%- article.excerpt %>
        <p><a href="<%= articleLink %>">Read on</a>
        <% } %>
      </li>
      <% }) %>
    </ul>
  </section>
</main>

<%- include('partials/bottom.ejs') %>
