<%- include('partials/top.ejs', {title: '', is: '', custom_css: null}) %>

<main>

  <h1><a href="/">Stephan Max</a></h1>

  <address>
    <ul>
      <li><a href="mailto:hello@stephanmax.com" rel="me">Email</a></li>
      <li><a href="https://keybase.io/stephanmax/pgp_keys.asc?fingerprint=c39b112b14c13ff673a30963a1cd0f9a894601f3" rel="pgpkey authn" title="PGP key via Keybase">key</a></li>
      <li><a href="https://twitter.com/stephanmaxToGo" rel="me">Twitter</a></li>
      <li><a href="https://github.com/stephanmax" rel="me">Github</a></li>
      <li><a href="https://www.linkedin.com/in/stephan-max/" rel="me">LinkedIn</a></li>
    </ul>
  </address>

  <% if (writing.length > 0) { %>
  <ul class="writing">
    <% writing.forEach(article => { %>
    <li>
      <a href="<%= article.collection + '/' + article.slug + '.html' %>"><%= article.title %></a>
      <time datetime="<%= article.date.format('YYYY-MM-DD') %>"><%= article.date.format('ll') %></time>
    </li>
    <% }) %>
  </ul>
  <% } %>

  <p>
    <a href="/feeding" title="RSS Feed">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6da4ea" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg>
    </a>
  </p>

</main>

<%- include('partials/bottom.ejs') %>
